* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
  background: teal;
  color: white;
  padding: 20px 16px;
}
header nav {
  max-width: calc(900px - 16px);
  margin: auto;
}
