#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 16px 0 16px;
  text-align: center;
}
/* .wrapper {
  background: red;
} */
form div {
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}
.text-input {
  all: unset;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.644);
  border-radius: 5px;
  padding: 7px;
  width: 100%;
  max-width: 400px;
}
.home-form {
  margin-bottom: 50px;
}
.text-input::placeholder {
  text-align: left;
}
.submit {
  all: unset;
  cursor: pointer;
  padding: 10px;
  margin-left: 4px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: rgba(76, 0, 130, 0.686);
  color: white;
}
.task {
  background-color: rgba(245, 245, 245, 0.854);
  padding: 16px 10px;
  text-align: left;
  margin-bottom: 16px;
  cursor: pointer;
}
.task {
  display: flex;
  align-items: center;
}
.task p {
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.form-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-col p {
  font-size: 18px;
  margin-right: 0.7rem;
}
.form-col .text-input {
  flex: 1;
}
.checkbox {
  font-size: 5rem;
}
.edit-btn {
  all: unset;
  padding: 10px 25px;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: rgba(76, 0, 130, 0.686);
  color: white;
  margin: 15px 0;
}
.edit,
.delete {
  width: 1.3rem;
  height: 1.3rem;
  color: black;
  cursor: pointer;
}
.check {
  width: 1.7rem;
  height: 1.7rem;
  color: rgba(0, 128, 0, 0.708);
}
.delete {
  margin-left: 1.4rem;
}
.actions {
  display: flex;
  align-items: center;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.completed {
  text-decoration: line-through;
}

.heading {
  display: flex;
  align-items: center;
}
.heading h2 {
  margin-right: 1rem;
}
